# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
dist/

# Dependency directories
node_modules/
package-lock.json

#vendor/
.vscode
workspace.code-workspace
Rubbish/

npm-debug.log*
vendor/

# For Mac
.DS_Store